    <footer class="footer-container" style="background-color: #eeeeee; color: black; margin-top: 50px;">
        <div class="container">
            <div class="row" style="padding: 2em;">
                <div class="col-lg"></div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-9">
                          Tel: (+66)2-451-1785, (+66)2-453-6450, (+66)81-636-2175, (+66)83-914-1469<br>
                          FAX: (+66)2-453-6451<br>
                          E-mail: <a href="mailto:boonchuay@thaictp.com">boonchuay@thaictp.com</a>
                        </div>
                        <div class="col-lg">
                            © สงวนลิขสิทธิ์ 2018<br>
                            บริษัท ไทยชลธารพลาส จำกัด
                        </div>
                    </div>
                </div>
                <div class="col-lg"></div>
            </div>
        </div>
    </footer>
