<footer class="footer-container" style="background-color: #eeeeee; color: black;">
  <div class="container" style="padding: 2em;">
    <div class="row">
      <!-- Contact Information Section -->
      <div class="col-lg-8">
        <p>
          Tel: (+66)2-451-1785, (+66)2-453-6450, (+66)81-636-2175, (+66)83-914-1469<br />
          FAX: (+66)2-453-6451<br />
          E-mail: <a href="mailto:boonchuay@thaictp.com">boonchuay@thaictp.com</a>
        </p>
      </div>
      
      <!-- Accreditation Section -->
      <div class="col-lg-4 text-center d-flex align-items-center justify-content-center">
        <div style="display: flex; gap: 20px;">
          <img src="/images/iso/accreditations.jpg" alt="SCC Accredited CB-MS" style="width: 80px; height: auto; max-width: 100%;" />
          <img src="/images/iso/images.png" alt="QFS Management Systems" style="width: 80px; height: auto; max-width: 100%;" />
        </div>
      </div>
    </div>
    
    <div class="row" style="margin-top: 1em;">
      <!-- Copyright Section -->
      <div class="col-lg-12 text-center">
        <p>
          © สงวนลิขสิทธิ์ 2018<br />
          บริษัท ไทยชลธารพลาส จำกัด
        </p>
      </div>
    </div>
  </div>
</footer>
