<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="" style="max-width: 100px">
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" area-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
     <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">หน้าแรก (Home)</a></li>
            <li class="nav-item"><a class="nav-link" href="aboutus">เกี่ยวกับเรา (About Us)</a></li>
            <li class="nav-item"><a class="nav-link" href="/product">ผลิตภัณฑ์ของเรา (Products)</a></li>
            <li class="nav-item"><a class="nav-link" href="/contactus">ติดต่อเรา (Contact Us)</a></li>
        </ul>
     </div>
</nav>
