.container {
  margin-bottom: 0%;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper {
  width: auto;
  margin: 2rem 0rem;
}

.email {
  width: 50%;
  margin: 4rem 0rem;
}

.addr {
  margin: 2rem 2rem;
}

.contact {
  margin: 2rem 2rem;
}

input {
  margin: 1rem 0rem;
}

button {
  margin: 1rem 0rem;
}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  h1 {
    font-size: 2rem;
    padding-bottom: 0px;
  }
  h2 {
    font-size: 1rem;
    padding-top: 1vh;
  }

  .detail {
    flex-direction: column;
  }

  .text {
    text-align: center;
  }

  .email {
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  h2 {
    text-align: center;
  }
  .detail {
    flex-direction: column;
  }

  .email {
    width: 100%;
    margin: unset;
  }

  .text {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  h2 {
    font-size: 1.5rem;
    padding-top: 1vh;
  }

  .text {
    text-align: center;
  }

  .email {
    width: 80%;
    margin: 0rem 2rem;
  }
}
/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  h2 {
    font-size: 1.5rem;
    padding-top: 1vh;
  }

  .text {
    text-align: center;
  }

  .email {
    width: 80%;
    margin: 0rem 2rem;
  }
}

/* Landscape */
@media only screen and (orientation: landscape) {
  .section-background {
    padding-top: 45vh !important;
  }
}

/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  h2 {
    font-size: 1.5rem;
    padding-top: 1vh;
  }

  .text {
    text-align: center;
  }

  .email {
    width: 80%;
    margin: 0rem 2rem;
  }
}
