.section-background {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 50px;
}

img.img-article {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

img.img-article-top {
    width: 100%;
    margin-bottom: 50px;
}

img.img-article-bottom {
    width: 100%;
    margin-top: 50px;
}
