<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/essential.css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%- include ../partials/includings.ejs %>
    <title>เกี่ยวกับไทยชลธารพลาส</title>
</head>

<body>
  <%- include ../partials/navbar.ejs %> <%- include('../partials/cover.ejs', {link: '/images/aboutus/cover.jpg' }) %>
      <div class="container">
        <div class="text-4xl md:text-5xl text-center m-14 md:m-20">
          เกี่ยวกับ<br />ไทยชลธารพลาส
        </div>

        <div class="text-xl mb-4">
          &nbsp;&nbsp;&nbsp;บริษัท ไทยชลธาร พลาส จำกัด
          ประกอบธุรกิจผลิตชิ้นส่วนอุปกรณ์ต่าง ๆ เช่นอุปกรณ์เฟอร์นิเจอร์
          ของใช้ในครัวเรือน และอื่น ๆ ก่อตั้งขึ้นเมื่อวันที่ 17 มิถุนายน 2553
          เป็นผู้รับผลิต ออกแบบ
          รวมถึงให้คำปรึกษาดำเนินกิจการด้วยความเชี่ยวชาญเรามุ่งมั่นที่
          จะพัฒนาคุณภาพสินค้าเพื่อรองรับความต้องการของลูกค้าสูงสุดจนได้รับความไว้วางใจจากลูกค้าอย่างดีเสมอมา
        </div>
        <div class="text-xl">
          &nbsp;&nbsp;&nbsp;ปัจจุบัน
          บริษัทได้ขยายสายการผลิตเพื่อรองรับกับความต้องการของลูกค้า
          โดยเพิ่มการผลิตทั้งงานฉีด (Injection) และงานรีด (Extrusion)
          จึงสามารถผลิตชิ้นงานอุปกรณ์สินค้าต่าง ๆ ได้อย่างรวดเร็ว
          และควบคุมประสิทธิภาพได้ตลอดสายการผลิต ด้วยทีมงานการผลิตและออกแบบที่ชำนาญ
          ตลอดจนการจัดส่งตามความต้องการของลูกค้า
        </div>
        <div class="center-img">
          <img class="img-responsive img-article-bottom" src="/images/aboutus/1.jpg" alt="" />
        </div>

      </div>
      <%- include ../partials/footer.ejs %>
</body>

</html>