<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/essential.css" />
    <%- include ../partials/includings.ejs %>
    <title>ผลิตภัณฑ์ของไทยชลธารพลาส</title>
  </head>
  <body>
    <%- include ../partials/navbar.ejs %> <%-
    include('../partials/cover.ejs',{link: '/images/product/cover.jpg'}) %>

    <div class="text-5xl font-bold text-center m-40">Coming Soon</div>

    <%- include ../partials/footer.ejs %>
  </body>
</html>
