<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include ../partials/includings.ejs %>
    <link rel="stylesheet" href="/css/contactus.css" />
    <link rel="stylesheet" href="/css/essential.css" />
    <title>ติดต่อเรา</title>
  </head>
  <body>
    <%- include ../partials/navbar.ejs %> <%- include('../partials/cover.ejs',
    {link: '/images/contactus/cover.jpg'}) %>

    <div class="container">
      <h1>ติดต่อไทยชลธารพลาส (Contact Us)</h1>
      <div class="detail">
        <div class="wrapper">
          <div class="addr">
            <h2>
              <img src="/images/icons/pin.png" alt="" /> ที่อยู่ (Location)
            </h2>
            <div class="addrdetail">
              <div class="text">บริษัท ไทยชลธารพลาส จำกัด</div>
              <div class="text">13 ซอยเทียนทะเล 26 แยก 2</div>
              <div class="text">
                ถนนบางขุนเทียน-ชายทะเล แขวงท่าข้าม เขตบางขุนเทียน กทม. 10150
              </div>

              <div class="text" style="margin-top: 1rem">
                Thai Chonlatharn Plas Co.,Ltd
              </div>
              <div class="text">13 Soi Thian Thale 26 Yaek 2,</div>
              <div class="text">Tha Kham, Bang Khun Thian, Bangkok,</div>
              <div class="text">10150</div>
            </div>
          </div>
          <div class="contact">
            <h2>
              <img
                src="/images/icons/contact.png"
                style="margin-inline: 0.5rem"
                alt=""
              />ติดต่อเรา (Contact)
            </h2>
            <div class="contactDetail">
              <div class="text">โทรศัพท์: 02-451-1785, 02-453-6450</div>
              <div class="text">โทรสาร (แฟ็กซ์): 02-453-6451</div>
              <div class="text">โทรศัพท์มือถือ: 081-636-2175, 083-914-1469</div>
              <div class="text">
                อีเมล:
                <a href="mailto:boonchuay@thaictp.com">boonchuay@thaictp.com</a>
              </div>
              <div class="text" style="margin-top: 1rem">
                Tel: (+66)2-451-1785, (+66)2-453-6450,
              </div>
              <div class="text">(+66)81-636-2175, (+66)83-914-1469</div>
              <div class="text">FAX: (+66)2-453-6451</div>
              <div class="text">
                E-mail:
                <a href="mailto:boonchuay@thaictp.com">boonchuay@thaictp.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="email">
          <h2>
            IF YOU HAVE ANY QUESTIONS <br />
            (Coming soon)
          </h2>
          <form action="">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Your Email"
              disabled
            />
            <input
              class="form-control"
              type="text"
              name="phone"
              id="phone"
              placeholder="Your Phone"
              disabled
            />
            <textarea
              class="form-control"
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Your Message"
              disabled
            ></textarea>
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.8773914976014!2d100.42330275027255!3d13.604299704313084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2bac378bea603%3A0xcded25c8d2943435!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5hOC4l-C4ouC4iuC4peC4mOC4suC4oyDguJ7guKXguLLguKog4LiI4Liz4LiB4Lix4LiU!5e0!3m2!1sth!2sth!4v1516528358109"
      width="600"
      height="450"
      frameborder="0"
      style="width: 100%"
      allowfullscreen
    ></iframe>
    <%- include ../partials/footer.ejs %>
  </body>
</html>
