<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include ../partials/includings.ejs %>
    <link rel="stylesheet" href="/css/contactus.css">
    <link rel="stylesheet" href="/css/essential.css">
    <title>ติดต่อเรา</title>
</head>
<body>
    <%- include ../partials/navbar.ejs %>
    <%- include('../partials/cover.ejs', {link: '/images/contactus/cover.jpg'}) %>
    <div class="container">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md-9">
                <h1 style="text-align: center">
                    ติดต่อไทยชลธารพลาส (Contact Us)
                </h1>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <h2>ที่อยู่ (Location)</h2>
                        บริษัท ไทยชลธารพลาส จำกัด<br>
                        651 ซอยเทียนทะเล 26 แยก 6-1<br>
                        ถนนบางขุนเทียน-ชายทะเล แขวงท่าข้าม<br>
                        เขตบางขุนเทียน กรุงเทพ 10150<br><br>
                        19/3 1-3-2 Soi Ekachai 76,<br>
                        Ekachai Rd., Bangbon, Bangkok,<br>
                        Thailand, 10150


                        <h2 style="margin-top: 50px;">โทร (Contact)</h2>
                        โทรศัพท์: 02-451-1785, 02-453-6450<br>
                        โทรสาร (แฟ็กซ์): 02-453-6451<br>
                        โทรศัพท์มือถือ: 081-636-2175, 085-943-0124<br>
                        อีเมล: <a href="mailto:boonchuay@thaictp.com">boonchuay@thaictp.com</a><br><br>
                        Tel: (+66)2-451-1785, (+66)2-453-6450, (+66)81-636-2175, (+66)85-943-0124<br>
                        FAX: (+66)2-453-6451<br>
                        E-mail: <a href="mailto:boonchuay@thaictp.com">boonchuay@thaictp.com</a>

                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="/images/contactus/1.jpg" style="width: 100%;" alt="">
                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.8773914976014!2d100.42330275027255!3d13.604299704313084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2bac378bea603%3A0xcded25c8d2943435!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5hOC4l-C4ouC4iuC4peC4mOC4suC4oyDguJ7guKXguLLguKog4LiI4Liz4LiB4Lix4LiU!5e0!3m2!1sth!2sth!4v1516528358109" width="600" height="450" frameborder="0" style="width: 100%; margin-top: 50px"  allowfullscreen></iframe>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
    <%- include ../partials/footer.ejs %>
</body>
</html>
