<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/index.css" />
    <%- include ../partials/includings.ejs %>
    <link rel="stylesheet" href="/css/essential.css" />
    <title>บริษัท ไทยชลธารพลาส จำกัด</title>
  </head>
  <body>
    <%- include ../partials/navbar.ejs %> <%-
    include('../partials/cover.ejs',{link: '/images/index/cover.jpg'}) %>
    <div class="container">
      <div class="header">
        <h1>ยินดีต้อนรับ (Welcome)</h1>
      </div>

      <div class="content">
        <div class="text">
          ไทยชลธารพลาส เรามีความเชี่ยวชาญในด้านการผลิตสินค้าพลาสติก ทั้งแบบฉีด
          (Injection) และรีด (Extrusion) โดยเน้นที่ความต้องการของลูกค้าเป็นสำคัญ
          เรามีความพร้อมด้านเครื่องจักรและบุคลากร
          ช่วยอำนวยความสะดวกในการดำเนินงานของท่านได้
        </div>
        <!-- <img src="\images\index\contactus.jpg" alt="" /> -->
        <div class="text">
          Thai Chonlatharn Plas Co.,Ltd is the plastic fabrication company that
          highly welcome to serves our customers the quality products. Please
          feel free to check out our catalogue or contact us on the link down
          below.
        </div>
      </div>
    </div>
    <%- include ../partials/footer.ejs %>
  </body>
</html>
