<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <%- include ../partials/includings.ejs %>
    <link rel="stylesheet" href="/css/essential.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>บริษัท ไทยชลธารพลาส จำกัด</title>
  </head>
  <body>
    <%- include ../partials/navbar.ejs %> <%-
    include('../partials/cover.ejs',{link: '/images/index/cover.jpg'}) %>
    <div class="container mb-8">
      <div class="text-4xl md:text-5xl text-center m-14 md:m-20">
        ยินดีต้อนรับ (Welcome)
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mt-10">
        <div class="text-2xl m-10">
          <p class="text-left leading-tigh">
            &nbsp;&nbsp;&nbsp; ไทยชลธารพลาส เรามีความเชี่ยวชาญในด้านการผลิตสินค้าพลาสติก ทั้งแบบฉีด (Injection) 
            และรีด (Extrusion) โดยเน้นที่ความต้องการของลูกค้าเป็นสำคัญ เรามีความพร้อมด้านเครื่องจักร บุคลากร และประสบการณ์กว่า 30 ปี 
            ที่สามารถช่วยอำนวยความสะดวกในการดำเนินงานใ้ห้ท่านได้

          </p>
        </div>
        <div>
          <img class="rounded-md" src="/images/index/contactus.jpg" alt="" />
        </div>
        <div>
          <img class="rounded-md" src="/images/aboutus/2.jpg" alt="" />
        </div>
        <div class="text-2xl m-10">
          <p class="text-left leading-tigh">
            &nbsp;&nbsp;&nbsp; Thai Chonlatharn Plas Co.,Ltd is the plastic fabrication company that highly welcome to serves our customers the quality products with over 30 years of experience. 
            Please feel free to check out our catalogue or contact us on the link down below.
          </p>
        </div>
      </div>
    </div>
    <%- include ../partials/footer.ejs %>
  </body>
</html>
