<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/essential.css" />
    <%- include ../partials/includings.ejs %>
    <title>ผลิตภัณฑ์ของไทยชลธารพลาส</title>
  </head>
  <body>
    <%- include ../partials/navbar.ejs %> <%- include('../partials/cover.ejs',
    {link: '/images/product/cover.jpg'}) %>
    <div class="text-4xl text-center m-4">ผลิตภัณฑ์ของไทยชลธารพลาส</div>
    <div class="container mx-auto px-4">
      <div class="flex flex-row mt-3">
        <div class="flex-none">
          <div class="flex-col mx-4">
            <div class="text-lg font-bold mb-3">ประเภท</div>
            <div class="text-base">ลูกล้อ</div>
            <div class="text-base">ล้อลูกปืน</div>
            <div class="text-base">งานรีด</div>
            <div class="text-base">กลุ่มเฟอร์นิเจอร์</div>
            <div class="text-base">มือจับและปุ่มจับ</div>
            <div class="text-base">ปุ่มยาง</div>
            <div class="text-base">อุปกรณ์เตียง-ตู้</div>
            <div class="text-base">กลุ่มสินค้าสั่งทำพิเศษ</div>
          </div>
        </div>
        <div class="flex-grow mt-4">
          <div class="grid grid-cols-3 gap-3">
            <% for (var i = 0; i < 30; i++) { %>
            <div class="flex-none">
              <img src="/images/etc/IMG_3225.jpg" alt="" />
              <div class="text-lg font-bold">Lorem ipsum dolor sit amet.</div>
              <div class="text-base">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat
                minus dolorum nam. Laborum laudantium animi, optio fuga maiores
                necessitatibus libero ad dolore quo harum reiciendis asperiores
                aspernatur vero nihil eligendi.
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- include ../partials/footer.ejs %>
  </body>
</html>
